[submodule "bats-tests/bats-support"]
	path = bats-tests/bats-support
	url = https://github.com/bats-core/bats-support
[submodule "bats-tests/bats-assert"]
	path = bats-tests/bats-assert
	url = https://github.com/bats-core/bats-assert
[submodule "bats-tests/bats-file"]
	path = bats-tests/bats-file
	url = git@github.com:ztombol/bats-file.git
