[submodule "bats-tests/bats-assert"]
	path = bats-tests/bats-assert
	url = git@github.com:bats-core/bats-assert.git
[submodule "bats-tests/bats-support"]
	path = bats-tests/bats-support
	url = git@github.com:bats-core/bats-support.git
[submodule "bats-tests/bats-file"]
	path = bats-tests/bats-file
	url = git@github.com:bats-core/bats-file.git
[submodule "bats-tests/bats"]
	path = bats-tests/bats
	url = https://github.com/bats-core/bats-core.git
