[package]
name = "toml-bombadil"
version = "2.1.0"
authors = ["Paul Delafosse <paul.delafosse@protonmail.com>"]
edition = "2018"
license = "MIT"
readme = "README.md"
repository = "https://github.com/oknozor/toml-bombadil/"
homepage = "https://oknozor.github.io/toml-bombadil/"
description = """
A dotfile manager.
"""

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
config = "0.11.0"
dirs = "^3"
toml = "^0"
serde_derive = "^1"
serde = "^1"
pest = "2.1.3"
pest_derive = "^2"
anyhow = "^1"
colored = "^2"
globwalk = "0.8.0"
git2 = { version = "0.13.21", features = ["vendored-openssl"] }
clap = { version = "^2", optional = true }

[features]
default = ["cli"]
cli = ["clap"]

[[bin]]
name = "bombadil"
path = "src/bin/bombadil.rs"
required-features = ["clap"]

[dev-dependencies]
temp_testdir = "0.2"
