[package]
name = "toml-bombadil"
version = "0.1.0"
authors = ["Paul Delafosse <paul.delafosse@protonmail.com>"]
edition = "2018"
license = "MIT"
readme = "README.md"
repository = "https://github.com/oknozor/toml-bombadil/"
description = """
A dotfile manager.
"""

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
config = "^0"
dirs = "^3"
toml = "^0"
serde_derive = "^1"
serde = "^1"
pest = "^2"
pest_derive = "^2"
anyhow = "^1"
termion = "1.5.5"
colored = "^2"
clap = { version = "^2", optional = true }

[features]
default = ["cli"]
cli = [ "clap"]

[[bin]]
name = "bombadil"
path = "src/bin/bombadil.rs"
required-features = ["clap"]

[dev-dependencies]
temp_testdir = "0.2"