branch_whitelist = [ "main" ]
ignore_merge_commits = true

pre_bump_hooks = [
    "cargo bump {{version}}",
    "cargo test",
    "cargo clippy",
    "cargo build --release",
    "cargo fmt --all",
    "docker build -t bombadil-tests ./",
    "docker run -t bombadil-tests ",
]


post_bump_hooks = [
    "git push",
    "git push origin {{version}}",
    "cargo package",
    "cargo publish"
]

[changelog]
template = "remote"
remote = "github.com"
repository = "toml-bombadil"
owner = "oknozor"

authors = [
    { signature = "Paul Delafosse", username = "oknozor" },
    { signature = "Dustin Speckhals", username = "DSpeckhals" },
    { signature = "Lucas Declercq", username = "lucas-dclrcq" },
    { signature = "Travis Davis", username = "travisdavis-ops" },
]
