window {
    margin: 5px;
    padding: 5px;
    background-color: #434c5e;
}

#input {
    background-color: #434c5e;
    color: #eceff4;
    border: 0px solid #434c5e;
}

#input:focus {
    background-color: #5e81ac;
    color: #eceff4;
    border: 0px solid #434c5e;
}

#inner-box {
    background-color: #434c5e;
}

#inner-box flowboxchild:focus {
    background-color: #5e81ac;
}

#outer-box {
    background-color: #434c5e;
}

#scroll {
    background-color: #434c5e;
}

#text {
    margin: 2px;
    background-color: #000000;
    color: #eceff4;
}
