# Path to your dotfiles relative to your $HOME directory
dotfiles_dir = "dotfiles"
gpg_user_ids = ["test@toml.bombadil.org"]

[settings]
prehooks = ["echo Hello from bombadil"]
vars = ["vars.toml"]

[settings.dots]
alacritty = { source = "dummy.dot", target = ".config/dummy.dot" }
maven = { source = "maven/settings.xml", target = ".m2/settings.xml" }
bash = { source = "shrc", target = "~/.shrc" }

[profiles.corporate.dots]
maven = { source = "maven/corporate.settings.xml", target = ".m2/settings.xml" }

[profiles.i3.dots]
i3 = { source = "i3", target = ".config/i3" }

[profiles.sway.dots]
sway = { source = "sway", target = ".config/sway" }

[profiles.java-16]
vars = ["profiles/java16.toml"]

[profiles.java-17.dots]
bash = { vars = "profiles/java17.toml" }

[profiles.corporate-sway]
extra_profiles = ["corporate", "sway"]
